<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.toollibs">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PERMISSIONS_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 用于开机启动 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.UI.Activity_Demos"></activity>
        <activity android:name=".Activity.UI.Activity_DataBase" />
        <activity android:name=".Activity.UI.Activity_Bar_ProcessBar" />
        <activity android:name=".Activity.UI.Activity_App_Setting" />
        <activity android:name=".Activity.UI.Activity_View_MapView" />
        <activity android:name=".Activity.UI.Activity_View_Calendar" />
        <activity android:name=".Activity.UI.Activity_View_VideoView" />
        <activity android:name=".Activity.UI.Activity_View_WebView" />
        <activity android:name=".Activity.UI.Activity_View_ImageView" />
        <activity android:name=".Activity.UI.Activity_Bar" />
        <activity android:name=".Activity.UI.Activity_Show_Data" />
        <activity android:name=".Activity.UI.Activity_Selector" />
        <activity android:name=".Activity.UI.Activity_View" />
        <activity android:name=".Activity.UI.Activity_Button" />
        <activity android:name=".Activity.UI.Activity_Text" />
        <activity
            android:name=".Activity.Alarm_Activity"
            android:theme="@style/TransparentBG" />
        <activity android:name=".Activity.Demo.Demo_Time_Activity" />
        <activity android:name=".Activity.Urat5168_Activity">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.UI.Activity_Bar_SeekBar" />
        <activity android:name=".Activity.Demo.Demo_TimerSelector_Activity" />
        <activity android:name=".Activity.UI.Activity_Dialog_Notification" />
        <activity android:name=".Activity.Demo.Demo_PosterView_Activity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="20b74253686f5ef930e5431f85e3fd27" />

        <receiver android:name=".Activity.Receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Activity.Receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="com.example.ToolLibs.alarm" />
            </intent-filter>
        </receiver>

        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>